body {
    background-color: #f8f9fa !important;
}

.btn-primary {
    background-color: #2b2b2b !important;
    width: 100% !important;
    border-color: #2b2b2b !important;
}

.btn-primary:hover {
    opacity: 0.8 !important;
}

.btn-outline-primary {
    color: #2b2b2b !important;
    border-color: #2b2b2b !important;
    width: 100% !important;
}

.btn-outline-primary:hover {
    background-color: #2b2b2b !important;
    border-color: #2b2b2b !important;
    color: #fff !important;
}

.value-card {
    background-color: #2b2b2b !important;
    border-radius: 12px;
}

.text-gray {
    color: #666666 !important;
}

.btn-secondary {
    background-color: #f5f6f8 !important;
    width: 100% !important;
    border-color: #f5f6f8 !important;
    color: #2b2b2b !important;
}
